body{
    background-image: url('survey.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: flexbox;
    border-left: 5cap;
}
.container{
    background-color: white;
    padding: 20px;
    border: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 800px;
    background-size: center;
}
h1{
    color: white;
    text-align: center;
}
#title{
    color: white;
    margin: auto;
}
input[type="submit"]{
    background-color: aqua;
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    width: 80px;
}
input[type="submit"]:hover{
    background-color: aqua;
}